<div class="page-header header-filter" style="background-image: url('/img/bg2.jpg'); background-size: cover; background-position: top center;">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-lg-6 ml-auto mr-auto">
          <div class="card card-login">
            <form class="form" method="" action="">
              <div class="card-header card-header-primary text-center">
                <h2 class="card-title">Contact Me</h4>
                <h5 class="">Let me know what you think...</h6>
              </div>
              <p class="description text-center">Tell Me!</p>
              <div class="card-body">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="material-icons">face</i>
                    </span>
                  </div>
                  <input type="text" class="form-control" placeholder="First Name...">
                </div>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="material-icons">mail</i>
                    </span>
                  </div>
                  <input type="email" class="form-control" placeholder="Email...">
                </div>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="material-icons">question_answer</i>
                    </span>
                  </div>
                  <textarea class="form-control" rows="5" placeholder="Enter Message..."></textarea>
                </div>
              </div>
              <div class="footer text-center">
                <a href="#" class="btn btn-primary btn-link btn-wd btn-lg">Send</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
</div>