<div class="page-header header-filter" data-parallax="true" style="background-image: url('/img/bg1.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-md-8 ml-auto mr-auto">
                <div class="brand text-center">
                    <h1>Eric Schleiff</h1>
                    <h3 class="title text-center">Aspiring Software Developer</h3>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="main main-raised">
    <div class="container">
        <div class="section text-center">
            <h2 class="title">About Me</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio eveniet debitis autem nesciunt minima
                dolore dignissimos ratione illo provident eos laboriosam adipisci omnis at, nihil voluptates? Asperiores
                illum voluptas molestias.</p>
        </div>
    </div>
    <hr>
    <div class="container">
        <div class="section text-center">
            <h2 class="title">Tech Stacks</h2>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <div class="card text-center">
                    <div class="card-header card-header-text card-header-primary">
                        <div class="card-text">
                            <h4 class="card-title">Front-End</h4>
                        </div>
                    </div>
                    <div class="card-body">
                        <ul class="list-group">
                            <li class="list-inline-item"><strong>HTML</strong></li>
                            <li class="list-inline-item"><strong>CSS</strong></li>
                            <li class="list-inline-item"><strong>JavaScript</strong></li>
                            <li class="list-inline-item"><strong>React.JS</strong></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header card-header-text card-header-primary">
                        <div class="card-text">
                            <h4 class="card-title">Back-End</h4>
                        </div>
                    </div>
                    <div class="card-body">
                        <ul class="list-group">
                            <li class="list-inline-item"><strong>Node.JS</strong></li>
                            <li class="list-inline-item"><strong>Python</strong></li>
                            <li class="list-inline-item"><strong>MySQL</strong></li>
                            <li class="list-inline-item"><strong>MongoDB</strong></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header card-header-text card-header-primary">
                        <div class="card-text">
                            <h4 class="card-title">Tools</h4>
                        </div>
                    </div>
                    <div class="card-body">
                        <ul class="list-group">
                            <li class="list-inline-item"><strong>Git/GitHub</strong></li>
                            <li class="list-inline-item"><strong>BootStrap</strong></li>
                            <li class="list-inline-item"><strong>Docker</strong></li>
                            <li class="list-inline-item"><strong>Kubernetes</strong></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="container">
        <div class="section text-center">
            <h2 class="title">Projects</h2>
        </div>
    </div>
</div>

    