<div class="page-header header-filter" data-parallax="true" style="background-image: url('/img/bg3.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-md-8 ml-auto mr-auto">
                <div class="brand text-center">
                    <h1>Random Projects</h1>
                    <h3 class="title text-center">Coming Soon...</h3>
                </div>
            </div>
        </div>
    </div>
</div>