<div class="page-header header-filter" data-parallax="true" style="background-image: url('/img/bg3.jpg')">
    <div class="container">
        <div class="row">
            <div class="card card-nav-tabs">
                <h4 class="card-header card-header-info">JavaScript/HTML</h4>
                <div class="card-body">
                    <h4 class="card-title">Countdown Timer</h4>
                    <p class="card-text">This is one of Wes Bos' JavaScript challenges. This challenge was to make a JavaScript countdown timer given various times. 
                        To use, just select the amount of time you'd like to start the timer for and the timer will start automatically. You can also input a specific amount of time in minutes.</p>
                    <a href="https://eschleiff.github.io/JS30-CountdownTimer/" class="btn btn-primary" target="_blank">Check it Out</a>
                </div>
            </div>
            <div class="card card-nav-tabs">
                <h4 class="card-header card-header-info">JavaScript/HTML</h4>
                <div class="card-body">
                    <h4 class="card-title">Clock</h4>
                    <p class="card-text">This is one of Wes Bos' JavaScript challenges. Nothing special here, just a simple clock created with JS and HTML.</p>
                    <a href="https://eschleiff.github.io/JS30-Clock/" class="btn btn-primary" target="_blank">Check it Out</a>
                </div>
            </div>
            <div class="card card-nav-tabs">
                <h4 class="card-header card-header-info">JavaScript/HTML</h4>
                <div class="card-body">
                    <h4 class="card-title">Webcam Fun</h4>
                    <p class="card-text">One of Wes Bos' challenges. This challenge was to make a webcam booth inside HTML using JS. This app will let you capture images and 
                        lets you play around with a green-screen effect.
                    </p>
                    <a href="https://eschleiff.github.io/JS30-Webcam-Stuff/" class="btn btn-primary" target="_blank">Check it Out</a>
                </div>
            </div>
            <div class="card card-nav-tabs">
                <h4 class="card-header card-header-info">JavaScript/HTML</h4>
                <div class="card-body">
                    <h4 class="card-title">Custom Video Player</h4>
                    <p class="card-text">Another one of Wes Bos' challenges. This challenge was to create a custom video player inside HTML using JS. This video player 
                        includes scrubers and sliders to adjust volume and video playback speed.
                    </p>
                    <a href="https://eschleiff.github.io/JS30-Custom-Video-Player/" class="btn btn-primary" target="_blank">Check it Out</a>
                </div>
            </div>
        </div>
    </div>
</div>  