<div class="page-header header-filter" data-parallax="true" style="background-image: url('/img/bg3.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-md-8 ml-auto mr-auto">
                <div class="brand text-center">
                    <h1>Random Projects</h1>
                    <h3 class="title text-center">These are an assortment of big and small projects that I've done. As I continue to learn and 
                        improve, more projects will be added!
                    </h3>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="main main-raised">
    <div class="container" style="padding-top: 15px;">
        <div class="row">
            <div class="card card-nav-tabs">
                <h4 class="card-header card-header-info">JavaScript/HTML</h4>
                <div class="card-body">
                    <h4 class="card-title">Countdown Timer</h4>
                    <p class="card-text">This is one of Wes Bos' JavaScript challenges. This challenge was to make a JavaScript countdown timer given various times. 
                        To use, just select the amount of time you'd like to start the timer for and the timer will start automatically. You can also input a specific amount of time in minutes.</p>
                    <a href="https://eschleiff.github.io/JS30-CountdownTimer/" class="btn btn-primary" target="_blank">Check it Out</a>
                </div>
            </div>
            <div class="card card-nav-tabs">
                <h4 class="card-header card-header-info">JavaScript/HTML</h4>
                <div class="card-body">
                    <h4 class="card-title">Clock</h4>
                    <p class="card-text">This is one of Wes Bos' JavaScript challenges. Nothing special here, just a simple clock created with JS and HTML.</p>
                    <a href="https://eschleiff.github.io/JS30-Clock/" class="btn btn-primary" target="_blank">Check it Out</a>
                </div>
            </div>
            <div class="card card-nav-tabs">
                <h4 class="card-header card-header-info">JavaScript/HTML</h4>
                <div class="card-body">
                    <h4 class="card-title">Webcam Fun</h4>
                    <p class="card-text">One of Wes Bos' challenges. This challenge was to make a webcam booth inside HTML using JS. This app will let you capture images and 
                        lets you play around with a green-screen effect.
                    </p>
                    <a href="https://eschleiff.github.io/JS30-Webcam-Stuff/" class="btn btn-primary" target="_blank">Check it Out</a>
                </div>
            </div>
            <div class="card card-nav-tabs">
                <h4 class="card-header card-header-info">JavaScript/HTML</h4>
                <div class="card-body">
                    <h4 class="card-title">Custom Video Player</h4>
                    <p class="card-text">Another one of Wes Bos' challenges. This challenge was to create a custom video player inside HTML using JS. This video player 
                        includes scrubers and sliders to adjust volume and video playback speed.
                    </p>
                    <a href="https://eschleiff.github.io/JS30-Custom-Video-Player/" class="btn btn-primary" target="_blank">Check it Out</a>
                </div>
            </div>
            <div class="card card-nav-tabs">
                <h4 class="card-header card-header-info">JavaScript/HTML</h4>
                <div class="card-body">
                    <h4 class="card-title">Drumkit</h4>
                    <p class="card-text">This was one of Wes Bos' challenges but I really learned a lot from this one. This is a virtual Drumkit 
                        made with JS inside HTML. Make sure you have your sound on and make some music!
                    </p>
                    <a href="https://eschleiff.github.io/JS30-drumkit/" class="btn btn-primary" target="_blank">Check it Out</a>
                </div>
            </div>
            <div class="card card-nav-tabs">
                <h4 class="card-header card-header-info">JavaScript | Node.JS | MongoDB | AJAX</h4>
                <div class="card-body">
                    <h4 class="card-title">Delicious Application</h4>
                    <p class="card-text">This project includes a Database that keeps records of users, reviews, and stores. This app will let users create a store, 
                        along with geolocation other information. That data is then indexed in the Database for quicker searching. Using Google Maps API, this app will 
                        tell you the nearest location to you along with locations to all the stores in the Database. There are plenty of other features too. Check it out for yourself.
                    </p>
                    <a href="https://project-delicious.herokuapp.com/" class="btn btn-primary" target="_blank">Check it Out</a>
                </div>
            </div>
            <div class="card card-nav-tabs">
                <h4 class="card-header card-header-info">JavaScript | Node.JS | MongoDB</h4>
                <div class="card-body">
                    <h4 class="card-title">SpaceX Capstone Project</h4>
                    <p class="card-text">My final project I developed for my Backend class. Took an online API and used it to grab data of all past, current, and future SpaceX launches. 
                        I used that data to make a web app that displayed a countdown timer to the next upcoming launch. Also display information about that upcoming launch such as the 
                        rocket type, emblem, the crew on board, and the time it was launching. Also provided info on past launches giving their date of launch and description of the 
                        mission as well as future launches and their mission description. This was my very first project. I plan to slowly add improvements here and there as I learn and gain more knowledge.</p>
                    <a href="https://countdown-projectx.herokuapp.com/" class="btn btn-primary" target="_blank">Check it Out</a>
                </div>
            </div>
        </div>
    </div>
</div>